/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
  padding-top: 50px; }

.container {
  display: block;
  max-width: 1170px;
  margin: 0 auto; }

.box {
  border: 1px solid #000;
  width: 50%;
  margin: auto; }
